RewriteEngine On

# Redirect leetcode paths
RewriteRule ^leetcode-js/leetcode/(.*)$ /leetcode-js/$1 [R=301,L]

# Redirect blog paths
RewriteRule ^leetcode-js/blog/(.*)$ /blog/$1 [R=301,L]

# Redirect react paths
RewriteRule ^leetcode-js/react/(.*)$ /my-react/$1 [R=301,L]

# Redirect vue paths
RewriteRule ^leetcode-js/vue/(.*)$ /my-vue/$1 [R=301,L]
