// place your custom styles here
// a code
//   color #fff

$text-color: #2c3e50;
$text-color-dark: #abb2bf;
$navbar-height: 3.75rem;

p{a{code{
    color: $text-color;
}}}
td{a{code{
    color: $text-color;
}}}
html[data-theme=dark] #app {
    p{a{code{
        color: $text-color-dark;
    }}}
    td{a{code{
        color: $text-color-dark;
    }}}
}

.vp-md-demo-display {
    padding: 8px 18px;
}

.vp-article-list {
    padding-top: calc($navbar-height + 0.8rem);
}

.vp-md-demo-code-wrapper {
    display: none;
}
