// place your custom styles here
// a code
//   color #fff

$text-color: #2c3e50;
$text-color-dark: #abb2bf;
$navbar-height: 3.75rem;

p{a{code{
    color: $text-color;
}}}
td{a{code{
    color: $text-color;
}}}
.hint-container.details {
    border: 0.1rem solid #eee;
    background-color: #fff;
    overflow: hidden;
}
.hint-container.details summary {
    background-color: #eee;
}
html[data-theme=dark] #app {
    p{a{code{
        color: $text-color-dark;
    }}}
    td{a{code{
        color: $text-color-dark;
    }}}
    .hint-container.details {
        border: 0.1rem solid #333;
        background-color: #0d1117;
        overflow: hidden;
    }
    .hint-container.details summary {
        background-color: #333;
    }
}

.vp-md-demo-display {
    padding: 8px 18px;
}

.vp-article-list {
    padding-top: calc($navbar-height + 0.8rem);
}

.vp-md-demo-code-wrapper {
    display: none;
}

.external-link-icon {
    display: none;
}

table th:first-of-type { width: 20%; }
table th:nth-of-type(2) { width: 30%; }
table th:nth-of-type(3) { width: 10%; }
table th:nth-of-type(4) { width: 30%; }
table th:nth-of-type(5) { width: 10%; }

.blue {
    background-color: #096dd9;
    padding: 0.25rem 0.5rem;
    margin: 0;
    font-size: 0.85em;
    border-radius: 3px;
    color: white;
    font-weight: 500;
}